/* Universal css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1240px;
  background: rgb(255, 255, 255);
  margin: 0 auto;
}

/* Shared CSS */
.primary-btn {
  border-radius: 41px;
  padding: 14px 24px 14px 24px;
  background: rgb(224, 44, 109);
  border: none;
  color: rgb(255, 255, 255);
}

p {
  color: rgb(58, 58, 58);
  font-weight: 600;
}
/* Custom CSS Star */

/* Header Css */
header {
  padding: 40px 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
  color: rgb(58, 58, 58);
  font-weight: 700;
}
.navbar ul {
  display: flex;
  gap: 40px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: rgb(58, 58, 58);
}

/* Banner Css */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-info {
  width: 50%;
}
.banner-info h1 {
  color: rgb(58, 58, 58);
  font-size: 3.2rem;
  font-weight: 700;
}
.banner-info p {
  margin-bottom: 20px;
}
.banner-img {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
}
.banner-img img:hover {
  transform: rotate(360deg) scale(80%);
  transition: 2s;
  cursor: pointer;
}
.banner-img img {
  width: 100%;
}

/* Sponsors Section */
.sponsors {
  margin: 40px auto;
  padding: 50px 0;
  max-width: 1100px;
}
.sponsors-container {
  padding: 20px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      to left,
      rgba(192, 204, 218, 0.5),
      rgba(192, 204, 218, 0.2)
    )
    1 0;
  display: flex;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
}

/* Collection Css */
.collection {
  max-width: 1050px;
  margin: 0 auto;
}
.collection h1 {
  text-align: center;
  color: rgb(58, 58, 58);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 40px;
}
.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.collection-card {
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  padding: 20px;
}
.collection img {
  width: 100%;
}

.collection h2 {
  color: rgb(24, 25, 31);
  font-size: 1.8rem;
  font-weight: 500;
}
.collection h3 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.5rem;
  font-weight: 400;
}
.rating-container {
  display: flex;
  gap: 15px;
  align-items: center;
}
#star {
  color: rgb(251, 130, 0);
}
#rating {
  color: rgb(94, 99, 102);
  font-size: 0.9rem;
  font-weight: 700;
  padding-top: 5px;
}
.see-more {
  padding: 20px;
  color: rgba(224, 44, 109, 0.87);
  font-weight: 700;
  text-align: center;
  text-align: end;
}
.collection p {
  color: rgb(120, 120, 133);
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 700;
}

/* Featured Css */
.featured {
  max-width: 1100px;
  margin: 0 auto;
}
.featured-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
}
.featured-container figure {
  width: 40%;
}
figure img {
  width: 100%;
}
.featured-info {
  width: 60%;
}
.featured-info h1 {
  color: rgb(10, 8, 38);
  font-size: 2.3rem;
  font-weight: 700;
}

.featured-info p {
  color: rgb(108, 108, 108);
  font-size: 0.9rem;
  font-weight: 700;
  margin: 10px 0;
}

.featured button {
  margin: 20px 0;
  border-radius: 0;
}

/* Footer */
footer {
  padding: 40px;
  text-align: center;
  background: rgb(10, 8, 38);
  margin-top: 80px;
}
footer h1 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 700;
}
footer h4 {
  color: rgb(217, 219, 225);
  font-size: 14px;
  font-weight: 700;
}
.icon-container {
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon {
  padding: 8px 12px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon i {
  /* Default / White */
  background-color: rgb(255, 255, 255);
}

/* Responsive Css ( for Mobile)*/
@media screen and (max-width: 576px) {
  /* Header Css for Mobile*/
  header {
    padding: 20px 0;
  }
  .navbar {
    flex-direction: column;
    align-items: start;
  }
  .navbar ul {
    flex-direction: column;

    gap: 5px;
  }
  .logo {
    font-size: 2rem;
  }

  /* Banner Css for Mobile */
  body {
    padding: 20px;
  }
  .banner {
    flex-direction: column;
    gap: 20px;
  }
  .banner-info {
    width: 100%;
  }
  .banner-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .banner-info p {
    margin-bottom: 10px;
    max-width: 570px;
  }
  .banner-img {
    width: 100%;
    margin-bottom: -80px;
  }
  .banner-img img {
    width: 100%;
  }
  /* Sponsors Section */
  .sponsors {
    padding: 100px 0;
  }
  .sponsors-container {
    padding: 20px;
    flex-wrap: wrap;
    gap: 30px;
  }
  /* Collection */
  .collection-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .collection h1 {
    margin-top: -100px;
  }
  /* Featured Css */

  .featured-container {
    flex-direction: column-reverse;
  }
  .featured-container figure {
    width: 100%;
  }

  .featured-info {
    width: 100%;
  }

  .featured button {
    margin-bottom: 0;
  }
}

/* Responsive for Laptop */
@media screen and (min-width: 576px) and (max-width: 768px) {
  /* Header Css*/
  body {
    padding: 0 40px;
  }
  header {
    padding: 30px 0;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar ul {
    gap: 20px;
  }
  .logo {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  /* Banner Css */

  .banner {
    flex-direction: column;

    gap: 20px;
  }
  .banner-info {
    width: 100%;
    text-align: center;
  }
  .banner-info h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .banner-info p {
    margin-bottom: 10px;
    max-width: 570px;
  }
  .banner-img {
    margin-bottom: -70px;
  }
  .banner-img img {
    width: 100%;
  }
  /* Sponsors Section */
  .sponsors {
    padding: 100px 0;
  }
  .sponsors-container {
    padding: 20px;
    flex-wrap: wrap;
    gap: 30px;
  }
  /* Collection */
  .collection-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .collection h1 {
    margin-top: -100px;
  }
  /* Featured Css */

  .featured-container {
    flex-direction: column-reverse;
  }
  .featured-container figure {
    width: 80%;
  }

  .featured-info {
    width: 80%;
  }

  .featured button {
    margin-bottom: 0px;
  }
}
